<?xml version="1.0"?>
<hivemq xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="hivemq-config.xsd">
 

    <cluster>
        <enabled>true</enabled>
        <transport>
            <udp>
                <bind-port>7800</bind-port>
            </udp>
        </transport>
        <failure-detection>
            <tcp-health-check>
                <bind-port>7900</bind-port>
            </tcp-health-check>
        </failure-detection>
    </cluster>
    <listeners>
        <tcp-listener>
            <port>1883</port>
            <bind-address>0.0.0.0</bind-address>
        </tcp-listener>
    </listeners>
 
</hivemq>